.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    list-style: none; 
    list-style-type: none;
    align-items: left;
    height: 100%;
}
@media (min-width: 500px){
    .NavigationItems{
        flex-flow:row;
        list-style: none; 
        list-style-type: none;
        margin: 0;
        align-items: center;
        padding: 0;
    }
}
